import utility from '../../../../utility/utility.js';

class {
  onCreate() {
    this.state = {
    }
  }

  onMount() {
  }

  async onSave(event) {
  }
    

}

<div>
  <h5>Storico prenotazioni</h5>
  <p>In questa sezione è possibile vedere i dettagli di tutte le prenotazioni passate.</p>
</div>