<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
</head>
<body>
  LOGIN PAGE
</body>
</html>
<script type="text/javascript" src="static/bundle/model.bundle.js"></script>
<script type="text/javascript" src="static/bundle/ui.bundle.js"></script>